#sale,
#sale #wrapper{
	background:#ededed;
}
#sale h1.entry-title{
	color: #111;
	font-size: 40pt;
	font-weight: 500;
	text-align: center;
	line-height: 90pt;
	text-shadow: 0 1px 0 #fff;
}
#sale h1.entry-title big{
	display:block;
	font-size:110pt;
}
#sale h1.entry-title small{
	color:#777;
	font-size:40pt;
}
#sale .entry-content{
	background:white;
	border:solid 1px #d6d4c4;
	border-radius:5px;
	box-shadow: 0 0 15px rgba(32,32,32,.1);
	padding:15px 20px;
}
#sale .entry-content h2,
#sale .entry-content h3,
#sale .entry-content h4{
	clear:none;
}

#sale .entry-content h2{
	color:#111;
	font-size:28pt;
	line-height:28pt;
	margin:0 0 .5em;
}
#sale .entry-content h2 small{
	display:block;
	font-size:18pt;
}

#sale .entry-content h3.price{
	color:#4096d3;
	font-size:32pt;
	line-height:28pt;
	margin:.5em 0;
}
#sale .entry-content h3.price small{
	color:#333;
	display:block;
	font-size:12pt;
	font-weight:normal;
	line-height:16pt;
	margin-top:.5em;
}

#sale .sale{
	display:inline-block;
	font-size:10pt;
	list-style:none;
	margin:0;
	width:100%;
}
#sale .sale li{
	clear:both;
	border-top: dashed 3px #ddd;
	font-size:13pt;
	line-height:150%;
	padding:1em 2em 1em 360px;
}
#sale .sale li:first-child{
	border-top:none;
}
#sale .sale li:after{
	clear: both;
	content '';
	display:block;
}
#sale .sale li strong{
	color:#000;
}
#sale .sale li img.alignleft{
	margin-left:-360px;
	max-width:320px;
	height:auto;
}
#sale a img.size-thumbnail{
	border:solid 1px white;
	-webkit-box-shadow:0 2px 10px #ddd;
	-moz-box-shadow:0 2px 10px #ddd;
	box-shadow:0 2px 10px #ddd;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
	height:64px;
	width:64px;
}
#sale .sale blockquote{
	color:#999;
	font-family:"Trebuchet MS", Helvetica, Tahoma, sans-serif;	
	font-size:10pt;
	font-style:normal;
	padding:0;
}
#sale .address{
	font-size:16pt;
	margin:-1em 0 1.5em;
	text-align:center;
}
#sale .contact{
	font-size:14pt;
	margin: 1em 2em;
}
#sale .phone{
	color:#333;
	font-size:24pt;
}