body,
input,
textarea,
.page-title span,
.pingback a.url,
.serif {
    font-family: $font-serif;
}

h3#comments-title,
h3#reply-title,
.menu-header .menu,
#access .menu,
#access div.menu ul,
#cancel-comment-reply-link,
.form-allowed-tags,
#site-info,
#wp-calendar,
.comment-meta,
.comment-body tr th,
.comment-body thead th,
.entry-content label,
.entry-content tr th,
.entry-content thead th,
#respond label,
.navigation,
.page-title,
.pingback p,
.reply,
.widget-title,
.wp-caption-text,
a.play,
input,
.sans-serif {
    font-family: $font-sans;
}

pre,
code {
    font-family: $font-monospace;
    //font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}


/* =Global Elements
-------------------------------------------------------------- */
* {
    @include box-sizing(border-box);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $dark;
    line-height: 1.2;
    margin: 1em 0 .25em 0;
}
h1{
    font-size: $title-text;
}
h2{
    font-size:24pt;
}
h3{
    font-size: $xlarge-text;
}
h4{
    font-size:18pt;
    font-weight:bold;
}
h5{
    font-size:13pt;
    font-weight:bold;
}

body {
    background: #fff;
}
body,
input,
textarea {
    color: $med;
    font-size: $text;
    line-height: 18px;
}
hr {
    background-color: #e7e7e7;
    border: 0;
    clear: both;
    height: 1px;
    margin-bottom: 18px;
}

/* Text elements */
p {
    margin-bottom: 18px;
}

// ==========================================================================
// LISTS
// ==========================================================================

// If you wish to remove all list styling, use this mixin
@mixin kill-list {
    margin: 0;
    padding: 0;

    > li, > * {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

ul {
    list-style: disc;
    margin: 0 0 18px 1.5em;
}
ol {
    list-style: decimal;
    margin: 0 0 18px 1.5em;
}
ol ol {
    list-style: upper-alpha;
}
ol ol ol {
    list-style: lower-roman;
}
ol ol ol ol {
    list-style: lower-alpha;
}
ul ul,
ol ol,
ul ol,
ol ul {
    margin-bottom: 0;
}
dl {
    margin: 0 0 24px 0;
}
dt {
    font-weight: bold;
}
dd {
    margin-bottom: 18px;
}
strong {
    font-weight: bold;
}
cite,
em,
i {
    font-style: italic;
}
big {
    font-size: 131.25%;
}
ins {
    background: #ffc;
    text-decoration: none;
}
blockquote {
    font-style: italic;
    padding: 0 3em;
}
blockquote cite,
blockquote em,
blockquote i {
    font-style: normal;
}
pre {
    background: #f7f7f7;
    color: #222;
    line-height: 18px;
    margin-bottom: 18px;
    padding: 1.5em;
}
abbr,
acronym {
    border-bottom: 1px dotted $med;
    cursor: help;
}
sup,
sub {
    height: 0;
    line-height: 1;
    position: relative;
    vertical-align: baseline;
}
sup {
    bottom: 1ex;
}
sub {
    top: .5ex;
}
input[type="text"],
input[type="search"],
textarea {
    background: #f9f9f9;
    border: 1px solid #ccc;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -moz-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.1);
    padding: 2px;
}
a:link {
    color: $link;
    border-color: $link;
}
a:visited {
    color: $visited;
    border-color: $visited;
}
a:active,
a:hover {
    color: $active;
    border-color: $active;
}

/* Text meant only for screen readers */
.screen-reader-text {
    position: absolute;
    left: -9000px;
}
a.vglnk {
    text-decoration: none;
    border-bottom: 4px double;
}

/* =Structure
-------------------------------------------------------------- */

/* The main theme structure */

#wrapper {
    position: relative;
    min-width: 980px;
    margin: 0 auto;
    padding: 0 20px;
    overflow-x:hidden;
    background: #fff;
}

.content-wrapper {
    clear: both;
    margin: 0 auto;
    position: relative;
    width:960px;
}

/* =Layout
-------------------------------------------------------------- */

/*
LAYOUT: Two columns
DESCRIPTION: Two-column fixed layout with one sidebar right of content
*/

#container {
    float: left;
    margin: 0 -260px 0 0;
    width: 100%;
}
#content {
    margin: 0 220px 0 20px;
}
#sidebar {
    float: right;
    width: 170px;
    margin-top:34px;
}
#secondary {
    clear: right;
}
#footer {
    clear: both;
    width: 100%;
}

/*
LAYOUT: One column, no sidebar
DESCRIPTION: One centered column with no sidebar
*/

#container.one-column{
    float:none;
    margin:0;
}
.one-column #content {
    margin: 0;
}

/*
LAYOUT: Full width, no sidebar
DESCRIPTION: Full width content with no sidebar; used for attachment pages
*/

.single-attachment #content {
    margin: 0 auto;
    width: 920px;
}


/* =Content
-------------------------------------------------------------- */

#main {
    padding: $margin 0 0 0;
}
#content {
    margin-bottom: $tall-margin;
}




/* =Navigation
----- tom menu, prev/next post -----
-------------------------------------------------------------- */

.navigation {
    color: #bbb;
    font-size: 13px;
    font-weight:200;
    line-height: 24px;
    letter-spacing:.05em;
    padding:0 $side-margin 0 $margin;

    a {
        text-decoration: none;

        small{
            display:block;
            margin-top:-.5em;
        }
    }

    .nav-previous{
        float: left;
        width: 33%;
    }
    .nav-next {
        float: right;
        text-align: right;
        width: 33%;
    }
    .nav-hint {
        width: 34%;
        margin: 0 33%;
        text-align: center;
    }
}

.post-navigation .nav-hint {
    margin-top: 1em;
}
#nav-above {
    margin: 0 0 18px 0;
    display: none;
}

.paged #nav-above,
.single #nav-above {
    display: block;
}

#nav-below {
    display:inline-block;
    margin: 2em 0 0 0;
    padding:0;
    width:100%;
}
.nav-next .meta-nav{
    margin-right:-1.2em;
}
.nav-previous .meta-nav{
    margin-left:-1.2em;
}


/* =Related posts
-------------------------------------------------------------- */


#main-related{
    clear: both;
    margin: 4em -20px 0;
    background:#F4F4F4 url($theme + 'images/bg-h.png') repeat center center;
    border-top:solid 1px #ddd;
    box-shadow:0 -3px 10px #e5e5e5;
}
#main-related .content{
    margin: 0 auto;
    padding: 20px 0;
    width:960px;
}

.related_posts{
    h6{
        color:#333;
        font-size:16pt;
        margin-bottom:0;
    }
    ul{
        margin:0 0 2em -15px;

        li{
            float:left;
            list-style:none;
            margin-right:0px;
            line-height:130%;
            font-size:9pt;
            padding:0 0 18px 0;

            a{
                display:block;
                width:240px;
                padding:15px;
                text-decoration:none !important;
                color:#555;

                &:hover{
                    color:#333;
                    background:#f6f6f6;
                    border-radius:10px;
                    -moz-border-radius:10px;
                    -webkit-border-radius:10px;
                }

                strong{
                    font-size:10pt;
                    padding:.25em 0 .5em;
                    display:block;
                    color:#222;
                    text-decoration:underline;
                }

                img{
                    -webkit-border-radius:4px;
                    -moz-border-radius:4px;
                    border-radius:4px;
                }
            }
        }
    }
}

/* =Comments
-------------------------------------------------------------- */
.nocomments{
    display:none;
}
#disqus_thread{
    width:920px;
}

/* =Widget Areas
-------------------------------------------------------------- */

.widget-area ul {
    list-style: none;
    margin-left: 0;
}
.widget-area ul ul {
    list-style: square;
    margin-left: 1.3em;
}
.widget-area select {
    max-width: 100%;
}
.widget_search #s {/* This keeps the search inputs in line */
    width: 60%;
}
.widget_search label {
    display: none;
}
.widget-container {
    margin: 0 0 35px 0;
}
.widget-title {
    color: #222;
    font-size:12pt;
    font-weight: bold;
}
.widget-area a:link,
.widget-area a:visited {
    text-decoration: none;
}
.widget-area a:active,
.widget-area a:hover {
    text-decoration: underline;
}
.widget-area .entry-meta {
    font-size: 11px;
}
#wp_tag_cloud div {
    line-height: 1.6em;
}
#wp-calendar {
    width: 100%;
}
#wp-calendar caption {
    color: #222;
    font-size: 14px;
    font-weight: bold;
    padding-bottom: 4px;
    text-align: left;
}
#wp-calendar thead {
    font-size: 9px;
    text-align:center;
}
#wp-calendar thead th {
    font-weight:normal;
    color:#ddd;
}
#wp-calendar tbody {
    color: #aaa;
}
#wp-calendar tbody td {
    background: #f2f2f2;
    border: 1px solid #fff;
    padding: 0;
    text-align: center;
    height:18px;
    line-height:18px;
    text-shadow:0 1px 0 #fff;
}
#wp-calendar tbody td a{
    background:yellow;
    display:block;
    height:18px;
    text-decoration:none;
}
#wp-calendar tbody td a:hover{
    background:#333;
    color:#fff;
}
#wp-calendar tbody .pad {
    background: none;
}
#wp-calendar tfoot #next {
    text-align: right;
}
.widget_rss a.rsswidget {
    color: $dark;
}
.widget_rss a.rsswidget:hover {
    color: $active;
}
.widget_rss .widget-title img {
    width: 11px;
    height: 11px;
}


img#wpstats {
    display: block;
    margin: 0 auto $margin;
}

ul.dashed{
    list-style:none;
}
ul.dashed li:before {
    content: '—';
    padding-right:.5em;
}

a.dashed{
    text-decoration:none;
    border-bottom-style:dashed;
    border-bottom-width:1px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

img[alt*=Rambler] {
    width:0;
    height:0;
}


/* =Mobile Safari ( iPad, iPhone and iPod Touch )
-------------------------------------------------------------- */

pre {
    -webkit-text-size-adjust: 140%;
}
code {
    -webkit-text-size-adjust: 160%;
}
#access,
.navigation,
.widget-area {
    -webkit-text-size-adjust: 120%;
}
#site-description {
    -webkit-text-size-adjust: none;
}

