@charset "utf-8";
@import "compass";
@import "variables";	 // Global variables

/* =Mixins
    -------------------------------------------------------------- */

@mixin sprite-icon {
	display: inline-block;
	height: 32px;
	width: 32px;

	@include sprite;
}



/* Lightbox slideshow styles */

body.theater-mode{
	height: 100%;
	overflow: hidden;
}


/* =Image in the post thumbnail
    -------------------------------------------------------------- */
.entry-content {
	img.zoom{
		cursor: pointer;
	}
	.zoomIcon{
		@include sprite-icon;
		@include single-transition(opacity, 1s, linear);

		cursor: pointer;

		position: relative;

		display: block;

		margin: -50px 0 20px 15px;
		opacity: .7;

		background-position: -64px 0;

		&:hover {
			opacity: 1;
		}
	}
}


/* =Slideshow popup
    -------------------------------------------------------------- */

#Slideshow{
	@include perspective(1000);
   	@include transform(translateZ(0));
   	@include backface-visibility(hidden);

	position: fixed;
	left: 0;
	top: 0;
	z-index: 10000002; // compete with translate bar

	display: none;
	width: 100%;
	height: 100%;

	overflow: hidden;

	background: #000;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 -1px 1px rgba(0,0,0,.5);

	// MENU
	menu{
		position: absolute;
		right: 3%;
		top: 2%;
		z-index:100;

		margin: 0;

		font-size: 16pt;
		font-weight: 300;
		line-height: 32px;

		a{
			@include single-transition(opacity, .75s, linear);

			margin-left: 1.5em;
			opacity: .75;

			color: white;
			line-height: 32px;
			vertical-align: middle;

			cursor: pointer;

			&:hover{
				opacity: 1;
			}

			ins{
				@include sprite-icon;

				background-position: 32px 32px;

				margin: 0 0 0 .25em;
				vertical-align: bottom;
			}


			&.exit ins{
				background-position: -32px 0;
			}
		}
	}

	// SINGLE SLIDE
	.slide{
		@include perspective(1000);
   		@include transform(translateZ(0));
		@include backface-visibility(hidden);
		@include single-transition(opacity, .2s, linear, .3s);

		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;

		opacity: 0;

		&.active{
			display: block;
			opacity: 1;
			z-index: 10;
		}

		ins{
			display: block;
			float: left;
			width: 1px;
			height: 100%;
		}


		// TITLE AND DESCRIPTION
		.meta{
			@include backface-visibility(hidden);
			@include background-image(linear-gradient(top, rgba(black, 0.2), rgba(black, 0)));

			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			z-index: 5;

			min-height: 10%;
			padding: 1% 150px 1% 80px;

			color: white;
			line-height: 1.5;

			h2{
				clear: none;
				margin: .2em 0;

				color: white;
				font-size: 18pt;
				font-weight: 500;
				line-height: 1.1;
			}

			p{
				margin: 0;
				color: white;
				font-size: 11pt;
			}

			// COPYRIGHT
			.copy{
				color: white;
				font-weight: normal;
			}
			// PINTEREST
			.pin{
				float: left;
				margin-left: -60px;
				margin-top: 36px;
				text-shadow: none;
			}
		}

		// BIG PICTURE
		img{
			vertical-align: bottom;

			&.fit-h{
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
			}
			&.fit-w{
				display: inline;
				float: left;
				height: 100%;
				margin-bottom: -10000%;
				position: relative;
				top: -100%;
			}
			.preload{
				width: 1px;
				height: 1px;
			}
		}
	}

	// THUMBNAILS
	.thumbnails{
		@include transform(translateZ(0));
		@include single-transition(left, .25s, linear);

		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 100;

		margin: 0 0 5px 48%;
		white-space: nowrap;

		li{
			position: relative;

			display: inline-block;
			height: 50px;
			width: 50px;
			margin: 0 3px 0 -1px;

			//box-shadow: 0 1px 3px rgba(0,0,0,.2);
			border: solid 1px rgba(255,255,255,.5);

			opacity: .3;

			-webkit-transition: .3s linear;
			-moz-transition: .3s linear;
			-o-transition: .3s linear;
			transition: .3s linear;

			-webkit-transition-property: opacity, height, width;
			-moz-transition-property: opacity, height, width;
			-o-transition-property: opacity, height, width;
			transition-property: opacity, height, width;

			&:only-child{
				display: none;
			}

			&.loaded,
			&.preloading{
				opacity: .75;
			}
			&.preloading a:before{
				content: '';
				position: absolute;
				left: 50%;
				top: 50%;

				display: block;
				margin: -8px;
				height: 16px;
				width: 16px;

				background: url(../images/i/ajax-loader.gif) no-repeat center center;
				background-size: 16px 16px;
			}
			&.active{
				height: 60px;
				width: 60px;

				margin-bottom: -1px;
				opacity: 1;

				border: solid 2px white;
				border-radius: 1px;
			}

			&:hover{
				opacity: 1;
			}

			a{
				cursor: pointer;
			}
			img{
				height: 100%;
			}
		}
	}
}