/**** Feedburner email subscription form ****/

.x-feedburner-subscription {
    text-align: center;
}

.x-feedburner-subscription__label {
    margin: 2em 0 1em;
}
.x-feedburner-subscription__input {
    width: 100%;
    margin-bottom: 5px;

    color: #999;
    font-size: 9pt;
    font-style: italic;
    text-align: center;
}
.x-feedburner-subscription__submit {
    width: 100%;
}