/**** Feedburner email subscription form ****/

.x-mail-subscription {
    padding: $unit $margin;
    border-top: solid 1px $border;
    text-align: center;

    label {
        margin: 1em 0 .5em;
    }

    input {
        width: 100%;
    }

    .email {
        margin: .5em 0;
        color: $gray;
        font-size: $xsmall-text+(-1);
        font-style: italic;
        text-align: center;
    }

    .button {
        color: white;
        cursor: pointer;
    }
}