// SHARE WIDGET
// ------------
.x-share {
    margin: 2*$tall-margin 0;
    text-align: center;
}

.x-share__title {
    font-family: $font-sans;
    font-size: $xlarge-text;
    font-weight: 300;
}

/**** Shareholic Post Snippet ****/
.shareaholic-canvas .shareaholic-share-buttons-container:not(.vertical) {
    .shareaholic-share-button-container {
        margin: 0 10px;
    }

    ul.shareaholic-share-buttons li.shareaholic-share-button i.shareaholic-service-icon {
        float: left;
    }
}

@media screen and (max-width: 1080px) {
    [data-app="floated_share_buttons"] {
        display: none !important;
    }
}