/**
 * Media Queries
 */
/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


/* Smartphone */
@media screen and (max-width: 480px){

    // Fix Admin bar position issue caused by Google Translate bar
    body {
        top: 0 !important;
    }

    .skiptranslate {
        display: none !important;
    }

    #wpadminbar {
        top: -46px;
    }

    // Header
    // ------
    header.site-header {
        &,
        .header-wrapper {
            min-width: 0;
        }

        .content-wrapper {
            width: auto;
            padding: 0 $side-margin;
        }

        nav {
            display: none;
        }

        .rublog-title--blog {
            display: block;

            line-height: 1.3;
            font-size: $large-text;
            // text-align: center;

            .rss-feed {
                display: none;
            }

            ins {
                position: absolute;
                right: 0;
                height: 50px;
                width: 50px;
                margin-right: 0;
            }

            big {
                font-size: $large-text;
            }

            small {
                position: static;
                display: block;
            }
        }
    }

    // Content
    // -------
    #wrapper {
        min-width: 0;
        padding: 0 $side-margin;

        .content-wrapper {
            width: auto;
        }

        #container,
        #content {
            float: none;
            margin: 0;
        }

        #content {
            &,
            input,
            textarea {
                font-size: $mobile-text;
            }
        }

        .hentry {
            margin-bottom: 0;
        }
        .rublog-title--page,
        .rublog-title--post {
            font-size: $medium-text;
            line-height: 1.5;
            margin-bottom: .25em;

            small {
                display: block;
                margin-top: .1em;
            }
        }

        .single & .entry-content {
            font-size: $mobile-text + 1;
        }

        .entry-content img {
            margin: 0 -15px;
            max-width: 112%;

            &.zoom {
                pointer-events: none;
            }
        }

        .excerpt_thumbnails img.thumb{
            height: auto;
            margin: $margin 0 0;
            overflow:hidden;
            width: 48%;

            &:nth-of-type(odd) {
                margin-left: 4%;
            }
        }

        .related_posts,
        #post-widget,
        .imgNumber {
            display: none;
        }

        .x-entry-meta {
            padding-top: 0;

            font-size: $small-text;
        }

        .x-entry-utility {
            display: block;
            width: auto;
            margin: 0 (-$side-margin);
            padding: $margin $side-margin;

            font-size: $small-text;

            .x-entry-utility__links,
            .x-entry-utility__tags {
                float: none;
            }

            .x-entry-utility__links {
                margin-right: 0;
            }

            .x-entry-utility__tags {
                margin-top: $margin;
                text-align: left;

                a {
                    margin-left: 0;
                    margin-right: $margin;
                }
            }
        }

        // .excerpt_thumbnails {
        //     margin-left: -$side-margin;
        //     margin-right: -$side-margin;
        // }
    }

    // Pagination
    // ----------
    .x-pagination {
        margin-top: 0;

        .x-pagination__all {
            margin-bottom: 0;
        }

        .x-pagination__arrow {
            position: static;
            display: block;

            margin: 0;
            padding: $margin;
            font-size: $xlarge-text;
            line-height: 1;
        }
        .x-pagination__hint,
        .x-pagination__arrow-hint {
            display: none;
        }

        .x-pagination__prev,
        .x-pagination__next {
            padding: 0;
        }
    }

    // Sidebar
    // -------
    #sidebar {
        display: none;
    }

    // Footer
    // ------
    #footer {
        width: auto;
        margin: $margin (-$side-margin);
        padding: $margin $side-margin;

        #colophon {
            width: auto;
            padding: $margin $side-margin;
        }

        #footer-widget-area {
            &,
            .widget-title {
                font-size: $xsmall-text;
            }

            .widget-area ul,
            .widget-container {
                margin-bottom: 0;
            }

        }
    }
}