/**
 * Media Queries
 */
/*
 * Does the same thing as <meta name="viewport" content="width=device-width">,
 * but in the future W3C standard way. -ms- prefix is required for IE10+ to
 * render responsive styling in Windows 8 "snapped" views; IE10+ does not honor
 * the meta tag. See https://core.trac.wordpress.org/ticket/25888.
 */
@-ms-viewport {
    width: device-width;
}

@viewport {
    width: device-width;
}


/*
    Smartphones
*/
@media screen and (max-width: 480px) {

    // Fix Admin bar position issue caused by Google Translate bar
    body {
        top: 0 !important;
        position: relative;
        min-width: 280px;
    }

    .skiptranslate {
        display: none !important;
    }

    #wpadminbar {
        top: -46px !important;
    }

    // Header
    // ------
    header.site-header {
        z-index: 1000;
        min-width: 0;

        &,
        .header-wrapper {
            width: auto;
        }

        .content-wrapper {
            width: auto;
            padding: $margin $side-margin;
        }

        .rublog-title--blog {
            display: block;

            line-height: 1.3;

            &, h1, h4 {
                font-size: $large-text;
            }

            h5 {
                position: static;
            }

            ins,
            .rss-feed {
                display: none;
            }
        }
    }

    // Navigation
    // ----------
    .x-navigation {
        &.x--desktop {
            display: none;
        }

        &.x--mobile {
            display: block;
        }
    }

    .x-mobile-nav-toggle {
        position: absolute;
        top: 9px;
        right: $side-margin;
        display: block;

        margin-right: 0;

        &:before {
            content: "";
            display: block;
            width: 32px;
            height: 32px;

            margin: 3px 4px 3px 3px;

            @include sprite2x;
            background-position: 0 -32px;
        }

        &.x--active {
            &:before {
                background-position: 0 -64px;
            }
        }
    }


    // Content
    // -------
    #wrapper {
        min-width: 0;
        padding: 0;


        .content-wrapper {
            width: auto;
            padding: 0 $side-margin;
        }

        #container,
        #content {
            float: none;
            margin: 0;
        }

        #content {
            &,
            input,
            textarea {
                font-size: $mobile-text;
            }
        }

        .hentry {
            margin-bottom: 0;
        }

        .rublog-title--category {
            font-size: $medium-text;

            span {
                font-size: $xlarge-text;
            }
        }

        .rublog-title--page,
        .rublog-title--post {
            font-size: $medium-text;
            line-height: 1.5;
            margin-bottom: .25em;

            small {
                display: block;
                margin-top: .1em;
            }
        }

        .single & .entry-content {
            font-size: $mobile-text + 1;
        }

        .entry-content {
            img {
                margin: 0 -15px;
                max-width: 100vw;

                &.zoom {
                    pointer-events: none;
                }

                &.alignleft,
                &.alignright {
                    display: block;
                    float: none;
                    max-width: 100%;
                    margin: 1em auto;

                }
            }

            .zoomIcon {
                display: none;
            }

            iframe {
                max-width: 100%;
            }

            .instagram-media,
            .twitter-tweet {
                width: 100% !important;
                max-width: 100% !important;
                margin-right: 0 !important;
            }

        }

        /**** Panoramic photos ****/
        #content .panorama-canvas{
            img.panorama {
                max-width: 240px;
            }
        }

        .excerpt_thumbnails img.thumb{
            height: auto;
            margin: $margin 0 0;
            overflow:hidden;
            width: 48%;

            &:nth-of-type(odd) {
                margin-left: 4%;
            }
        }

        #post-widget,
        .imgNumber {
            display: none;
        }

        .x-entry-meta {
            padding-top: 0;

            font-size: $small-text;
        }

        .x-entry-utility {
            display: block;
            width: auto;
            margin: 0 (-$side-margin);
            padding: $margin $side-margin;

            font-size: $small-text;

            .x-entry-utility__links,
            .x-entry-utility__tags {
                float: none;
            }

            .x-entry-utility__links {
                margin-right: 0;
            }

            .x-entry-utility__tags {
                margin-top: $margin;
                text-align: left;

                a {
                    margin-left: 0;
                    margin-right: $margin;
                }
            }
        }

        blockquote {
            padding-left: 2em;
        }
    }

    // Comments
    // --------
    #main-related {
        margin: 2em 0 0;

        .content {
            width: auto;
        }
    }
    #disqus_thread {
        width: auto;
        padding: $margin $side-margin;
    }

    // Pagination
    // ----------
    .x-pagination {
        margin-top: 0;

        .x-pagination__all {
            margin-bottom: 0;
        }

        .x-pagination__arrow {
            position: static;
            display: block;

            margin: 0;
            padding: $margin;
            font-size: $xlarge-text;
            line-height: 1;
        }
        .x-pagination__post-title,
        .x-pagination__hint,
        .x-pagination__arrow-hint {
            display: none;
        }

        .x-pagination__prev,
        .x-pagination__next {
            padding: 0;
        }
    }

    // Sidebar
    // -------
    #sidebar {
        display: none;
    }

    // Footer
    // ------
    #footer {
        width: auto;
        margin: 0;
        padding: $tall-margin $side-margin;

        #colophon {
            width: auto;
            padding: 0;
        }

        #footer-widget-area {
            &,
            .widget-title {
                font-size: $xsmall-text;
            }

            .widget-area ul,
            .widget-container {
                margin-bottom: 0;
            }

        }
    }
}