// POST STYLES
// ===========

#content {
    &,
    input,
    textarea {
        color: #333;
        font-size: 13pt;
        line-height: 1.7;
    }

    p,
    ul,
    ol,
    dd,
    pre,
    hr {
        margin-bottom: 2em;
    }

    ul,
    ol {
        ul,
        ol {
            margin-bottom: 0;
        }
    }


    pre,
    kbd,
    tt,
    var {
        font-size: 90%;
        line-height: 21px;
    }

    code {
        display: inline-block;
        padding: 0 .5em;
        font-size: 85%;
        background: #f3f3f3;
    }

    dt,
    th {
        color: $dark;
    }

    table {
        border: 1px solid #e7e7e7;
        margin: 0 -1px 24px 0;
        text-align: left;
        width: 100%;
    }


    tr th,
    thead th {
        color: #888;
        font-size: $text;
        font-weight: bold;
        line-height: 18px;
        padding: 9px 24px;
    }
    tr td {
        border-top: 1px solid #e7e7e7;
        padding: 6px 24px;
    }
    tr.odd td {
        background: #f2f7fc;
    }
}

.home .sticky {
    background: #f2f7fc;
    border-top: 4px solid $dark;
    margin-left: -20px;
    margin-right: -20px;
    padding: 18px 20px;
}
.single {
    .hentry {
        margin: 0 0 3em 0;
        border-bottom: dashed 1px $light;
    }

    .entry-content {
        font-size: 14pt;
    }
}

.entry-content,
.entry-summary {
    clear: both;
    padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
    margin-bottom: 12px;
}


.entry-content {
    div[data-twttr-id] {
        margin: -$margin 0 $margin*2;
    }

    sup,
    sub {
        font-size: $small-text;
    }

    .instagram-media,
    .twitter-tweet {
        display: inline-block !important;
        max-width: 48.5% !important;
        margin: 20px 0 !important;
        margin-right: 2% !important;
        vertical-align: top;

        &:nth-of-type(even) {
            margin-right: 0 !important;
        }
    }

    h3 {
        font-size: 140%;
        margin: 2em 0 1em;
    }
}

.page-link {
    clear: both;
    color: $dark;
    font-weight: bold;
    margin: 0 0 22px 0;
    word-spacing: 0.5em;

    a:link,
    a:visited {
        background: #f1f1f1;
        color: #333;
        font-weight: normal;
        padding: 0.5em 0.75em;
        text-decoration: none;
    }

    a:active,
    a:hover {
        color: $active;
    }

    .home .sticky & a {
        background: #d9e8f7;
    }
}

body.page .edit-link {
    clear: both;
    display: block;
}
#entry-author-info {
    background: #f2f7fc;
    border-top: 4px solid $dark;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0;
    overflow: hidden;
    padding: 18px 20px;

    #author-avatar {
        background: #fff;
        border: 1px solid #e7e7e7;
        float: left;
        height: 60px;
        margin: 0 -104px 0 0;
        padding: 11px;
    }

    #author-description {
        float: left;
        margin: 0 0 0 104px;
    }

    h2 {
        color: $dark;
        font-size: 100%;
        font-weight: bold;
        margin-bottom: 0;
    }
}

.video-player {
    padding: 0;
}

#content iframe {
    &[src*=youtube],
    &[src*=vimeo] {
        width:100%;
        height:435px;

        .one-column & {
            height:548px;
        }
    }
}
.one-column #content {
    .entry-summary iframe {
        &[src*=youtube],
        &[src*=vimeo] {
            width:256px;
            height:200px;
            float:right;
            margin-left:24px;
            margin-bottom:12px;
        }
    }

    .adsbygoogle iframe {
        height: auto !important;
    }
}

.hentry {
    margin-top: 2.5em;

    img {
        display: block;
        max-width:100%;
        height: auto;
    }
}


/**** Search engines refers highlights ****/
.hilite {
    background-color:#FFCA61;
    color: $dark
}


/* =Asides
-------------------------------------------------------------- */
.home #content .format-aside {}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:12px 15px 0 #e4e4e4;
    -moz-box-shadow:12px 15px 0 #e4e4e4;
    box-shadow:12px 15px 0 #e4e4e4;
    margin-bottom: 0;
}
.format-gallery .gallery-thumb {
    float: left;
    margin-right: 25px;
    margin-top: 2px;
}

/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
    content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
    content: '\00a0\2192';
}


/* Livejournal imported posts
-------------------------------------------------------------- */
#content .category-livejournal{
    color:#777;
    font-size:11pt;
}
#content .category-livejournal .entry-title:before{
    content:'Из архива ЖЖ: ';
    font-size:12pt;

}
#content .category-livejournal .entry-title{
    font-size:18pt;
}
#content .category-livejournal .entry-title a{
    color:#777;
    font-style:italic;
}
