// POST META
// =========
.x-entry-meta {
    color: $gray;
    font-family: $font-sans;
    font-size: $small-text;
    font-style: italic;
    font-weight: 300;

    .x-entry-meta__published {
        color: $gray;
        text-decoration: none;
    }

    .x-entry-meta__category {
        &,
        a {
            margin-left:.5em;
        }

        /* =Sponsored post= */
        #content .category-sponsored & a {
            display: inline-block;
            padding: 0 5px;

            background: yellow;
            color: $dark;
            text-decoration: none;

            &:after {
                content: ": оплаченный пост"ж
            }
        }
    }
}


.archive-meta{
    color: $gray;
    font-size: $small-text;
    font-style: italic;
}

.x-hatom-extra {
    display: none;
}