// POST STYLES
// ===========

#content,
#content input,
#content textarea {
    color: #333;
    font-size: 13pt;
    line-height: 1.7;
}
#content p,
#content ul,
#content ol,
#content dd,
#content pre,
#content hr {
    margin-bottom: 2em;
}
#content ul ul,
#content ol ol,
#content ul ol,
#content ol ul {
    margin-bottom: 0;
}
#content pre,
#content kbd,
#content tt,
#content var {
    font-size: 15px;
    line-height: 21px;
}
#content code {
    font-size: 13px;
}
#content dt,
#content th {
    color: $dark;
}

#content table {
    border: 1px solid #e7e7e7;
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
}
#content tr th,
#content thead th {
    color: #888;
    font-size: $text;
    font-weight: bold;
    line-height: 18px;
    padding: 9px 24px;
}
#content tr td {
    border-top: 1px solid #e7e7e7;
    padding: 6px 24px;
}
#content tr.odd td {
    background: #f2f7fc;
}

.home .sticky {
    background: #f2f7fc;
    border-top: 4px solid $dark;
    margin-left: -20px;
    margin-right: -20px;
    padding: 18px 20px;
}
.single {
    .hentry {
        margin: 0 0 36px 0;
    }

    .entry-content {
        font-size: 14pt;
    }
}

.entry-content,
.entry-summary {
    clear: both;
    padding: 12px 0 0 0;
}
#content .entry-summary p:last-child {
    margin-bottom: 12px;
}


.entry-content {
    div[data-twttr-id] {
        margin: -$margin 0 $margin*2;
    }

    sup,
    sub {
        font-size: $small-text;
    }

    .instagram-media,
    .twitter-tweet {
        display: inline-block !important;
        max-width: 48.5% !important;
        margin: 20px 0 !important;
        margin-right: 2% !important;
        vertical-align: top;

        &:nth-of-type(even) {
            margin-right: 0 !important;
        }
    }
}

.page-link {
    clear: both;
    color: $dark;
    font-weight: bold;
    margin: 0 0 22px 0;
    word-spacing: 0.5em;
}
.page-link a:link,
.page-link a:visited {
    background: #f1f1f1;
    color: #333;
    font-weight: normal;
    padding: 0.5em 0.75em;
    text-decoration: none;
}
.home .sticky .page-link a {
    background: #d9e8f7;
}
.page-link a:active,
.page-link a:hover {
    color: $active;
}
body.page .edit-link {
    clear: both;
    display: block;
}
#entry-author-info {
    background: #f2f7fc;
    border-top: 4px solid $dark;
    clear: both;
    font-size: 14px;
    line-height: 20px;
    margin: 24px 0;
    overflow: hidden;
    padding: 18px 20px;
}
#entry-author-info #author-avatar {
    background: #fff;
    border: 1px solid #e7e7e7;
    float: left;
    height: 60px;
    margin: 0 -104px 0 0;
    padding: 11px;
}
#entry-author-info #author-description {
    float: left;
    margin: 0 0 0 104px;
}
#entry-author-info h2 {
    color: $dark;
    font-size: 100%;
    font-weight: bold;
    margin-bottom: 0;
}
#content .video-player {
    padding: 0;
}

#content iframe[src*=youtube],
#content iframe[src*=vimeo]{
    width:100%;
    height:435px;
}
.one-column #content iframe[src*=youtube],
.one-column #content iframe[src*=vimeo]{
    height:548px;
}
.one-column #content .entry-summary iframe[src*=youtube],
.one-column #content .entry-summary iframe[src*=vimeo]{
    width:256px;
    height:200px;
    float:right;
    margin-left:24px;
    margin-bottom:12px;
}

.one-column #content .adsbygoogle iframe {
    height: auto !important;
}

.hentry img {
    display: block;
    max-width:100%;
    height: auto;
}

.excerpt_thumbnails{
    display:block;
    margin-bottom:1em;
    text-align:center;
}
.excerpt_thumbnails img.thumb{
    display:inline-block;
    height:175px;
    margin-top: $margin/2;
    margin-right: $margin/2;
    overflow:hidden;
    width:175px;
}
.excerpt-more-link {
    display: block;
    font-size:13pt;
    margin:.5em 0 1em;
}
.excerpt-more-link .meta-nav {
    font-size:120%;
    line-height: 100%;
}



/**** Search engines refers highlights ****/
.hilite {
    background-color:#FFCA61;
    color: $dark
}


/* =Asides
-------------------------------------------------------------- */
.home #content .format-aside {}


/* =Gallery listing
-------------------------------------------------------------- */

.format-gallery .size-thumbnail img{
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
    -webkit-box-shadow:12px 15px 0 #e4e4e4;
    -moz-box-shadow:12px 15px 0 #e4e4e4;
    box-shadow:12px 15px 0 #e4e4e4;
    margin-bottom: 0;
}
.format-gallery .gallery-thumb {
    float: left;
    margin-right: 25px;
    margin-top: 2px;
}

/* =Attachment pages
-------------------------------------------------------------- */

.attachment .entry-content .entry-caption {
    font-size: 140%;
    margin-top: 24px;
}
.attachment .entry-content .nav-previous a:before {
    content: '\2190\00a0';
}
.attachment .entry-content .nav-next a:after {
    content: '\00a0\2192';
}


/* Livejournal imported posts
-------------------------------------------------------------- */
#content .category-livejournal{
    color:#777;
    font-size:11pt;
}
#content .category-livejournal .entry-title:before{
    content:'Из архива ЖЖ: ';
    font-size:12pt;

}
#content .category-livejournal .entry-title{
    font-size:18pt;
}
#content .category-livejournal .entry-title a{
    color:#777;
    font-style:italic;
}
