/* =Footer
-------------------------------------------------------------- */

#footer {
    border-top: 1px solid #ccc;
    margin: 0 -20px;
    width:100%;
    padding:0 20px;

    #colophon {
        margin: 0 auto;
        overflow: hidden;
        padding: 18px 0;
        width: 920px;
    }

    #footer-widget-area {
        overflow: hidden;
        color: $gray;
        font-family: $font-sans;
        font-size: $xsmall-text;
        font-weight: 300;

        .widget-area {
            display: inline-block;
            width: 100%;
        }

        .widget-title {
            margin:.5em 0;
            font-size: $small-text;
            font-weight: normal;
        }

        #first {
            p {
                line-height: 1.8;
            }
        }

        #second {
            text-align:right;
        }
    }
}