header.site-header {
    position: relative;
    z-index: 10;
    display: block;
    min-width: 1000px;

    padding: 10px 0 5px;
    background: #f5f5f5 url($theme + 'images/h/header-totems.jpg') no-repeat center center;
    background-size: cover;
    @include box-shadow(0 0 10px $light-gray);

    a {
        -webkit-transition: all .5s;

        &:hover{
            color: $active !important;
        }
    }

    .header-wrapper {
        position: relative;
        max-width: 1000px;
        margin: 0 auto;
    }

    // Site title
    .rublog-title--blog {
        position: relative;
        display: inline-block;
        margin: 0;
        font-size: 24pt;
        line-height: 1em;
        text-decoration: none;

        ins {
            display: inline-block;
            height: 80px;
            width: 80px;
            margin-left: 0px;
            margin-right: 1px;
            margin-bottom: -13px;
            margin-top: -7px;
            opacity: .8;
            background: transparent url($theme + 'images/a/maple-leaf@2x.png') no-repeat center center;
            //background-size: contain;
            background-size: 66%;
            vertical-align: middle;
        }

        h1,
        h4 {
            display: inline-block;
            padding: 0;
            margin: 0;

            color: $dark;
            font-size: $title-text;
            font-weight: normal;
            line-height: 1.1;
            vertical-align: bottom;

            a {
                color: $dark;
                text-decoration: none;
            }
        }

        h5 {
            @extend .sans-serif;
            position: absolute;
            left: 130px;
            top: 5px;

            padding: 0;
            margin: 0;

            color: $med;
            font-size: $xsmall-text;
            font-weight: 300;
            white-space: nowrap;

            a {
                color: $med;
                text-decoration: none;
            }
        }
    }

    /* =RSS
    -------------------------------------------------------------- */

    .rss-feed{
        position: absolute;
        bottom: 17px;
        left: 101%;

        height: 16px;
        width: 16px;

        @include sprite;
        background-position: 0 0;
        background-size: auto 100%;
    }

    // Google Plus
    // #google_plusone{
    //     position: absolute;
    //     bottom: -4px;
    //     left: 100%;
    //     margin-left: 20px;
    // }
}