header.site-header {
    position: relative;
    z-index: 10;
    display: block;
    min-width:1000px;
    padding: 15px 0 10px;
    background: #f5f5f5 url($theme + 'images/h/header-totems.jpg') no-repeat center center;
    background-size: cover;
    border-bottom: solid 1px $border;
    @include box-shadow(0 0 5px $light);

    a {
        -webkit-transition: all .5s;

        &:hover{
            color: $active !important;
        }
    }

    .header-wrapper {
        position: relative;
        width: auto;
        /*max-width:1140px;
        min-width:1000px;*/
        width: 980px;
        margin: 0 auto;
    }

    // Site title
    .rublog-title--blog {
        position: relative;
        display: inline-block;
        margin: 0;
        font-size: 24pt;
        line-height: 1em;
        text-decoration: none;

        h1 {
            margin: 0;
        }

        ins {
            display: inline-block;
            height: 100px;
            width: 100px;
            margin-left: -10px;
            margin-right: 10px;
            margin-bottom: -35px;
            background: transparent url($theme + 'images/a/moose-crossing@2x.png') no-repeat center center;
            background-size: contain;
            vertical-align: middle;
        }

        big{
            display: inline-block;
            color: $dark;
            font-size: 28pt;
            line-height: 1.1;
            vertical-align: bottom;
            a {
                color: $dark;
                text-decoration: none;
            }
        }

        small{
            @extend .sans-serif;
            position: absolute;
            left: 148px;
            top: 5px;
            color: $med;
            font-size: 10pt;
            font-weight: 300;

            a {
                color: $med;
                text-decoration: none;
            }
        }
    }

    /* =RSS
    -------------------------------------------------------------- */

    .rss-feed{
        position: absolute;
        bottom: 4px;
        left:103%;

        height: 32px;
        width: 32px;

        @include sprite;
        background-position: 0 0;
    }

    // Google Plus
    // #google_plusone{
    //     position: absolute;
    //     bottom: -4px;
    //     left: 100%;
    //     margin-left: 20px;
    // }
}