/* =Images
-------------------------------------------------------------- */

/*
Resize images to fit the main content area.
- Applies only to images uploaded via WordPress by targeting size-* classes.
- Other images will be left alone. Use "size-auto" class to apply to other images.
*/
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
    max-width: 100%; /* When images are too wide for containing element, force them to fit. */
    height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
    display: inline;
    float: left;
    margin-right: 24px;
    margin-top: 4px;
}
.alignright,
img.alignright {
    display: inline;
    float: right;
    margin-left: 24px;
    margin-top: 4px;
}
.aligncenter,
img.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
    margin-bottom: 12px;
}
.wp-caption {
    line-height: 18px;
    margin-bottom: 1.5em;
    max-width: 100%; /* prevent too-wide images from breaking layout */
}
.wp-caption img {
    margin-bottom: 0;
}
#content .wp-caption p.wp-caption-text {
    color: $gray;
    font-size: 9pt;
    font-style: italic;
    font-weight: 300;
    margin: 5px 0;
}
.wp-smiley {
    margin: 0;
}
.gallery {
    margin: 0 auto 18px;
}
.gallery .gallery-item {
    float: left;
    margin-top: 0;
    text-align: center;
    width: 33%;
}
.gallery-columns-2 .gallery-item {
    width: 50%;
}
.gallery-columns-4 .gallery-item {
    width: 25%;
}
.gallery img {
    border: 2px solid #cfcfcf;
}
.gallery-columns-2 .attachment-medium {
    max-width: 92%;
    height: auto;
}
.gallery-columns-4 .attachment-thumbnail {
    max-width: 84%;
    height: auto;
}
.gallery .gallery-caption {
    color: #888;
    font-size: 12px;
    margin: 0 0 12px;
}
.gallery dl {
    margin: 0;
}
.gallery img {
    border: 10px solid #f1f1f1;
}
.gallery br+br {
    display: none;
}
#content .attachment img {/* single attachment images should be centered */
    display: block;
    margin: 0 auto;
}

/**** Image Numbers ****/
.imgNumber {
    position: relative;
    float: right;
    height: 0;
    width:0;

    small {
        position: absolute;
        left: 10px;
        color: #aaa;
        font-family: $font-sans;
        font-size: 21px;
        font-weight: 100;
    }
}

/**** Panoramic photos ****/
#content .panorama-canvas{
    max-width:960px;
    overflow:auto;
    position:relative;
    width:100%;
    transform: translateZ(0);
    -webkit-overflow-scrolling: touch;

    &.panorama-ready {
        min-width: 100%;
        max-width: none;
    }

    img.panorama{
        cursor:move;
        position: relative;
        display: block;
        width: auto;
        max-height: 640px;
        max-width:none !important;
        margin: 0 auto;
        -webkit-transition: opacity .5;
        -moz-transition: opacity .5;
        transition: opacity .5;
    }
    img.panorama-loading{
        opacity:.5;
    }
}

#content .panoramaIcon{
    display:block;
    @include sprite;
    background-position: -96px 0;
    margin: -50px 0 20px 15px;
    opacity:.9;
    position:relative;
    height:32px;
    width:32px;
    -webkit-transition: 1s opacity linear;
    -moz-transition: 1s opacity linear;
    -o-transition: 1s opacity linear;

    &.panoramaIcon--hide {
        opacity: 0;
    }
}