/*
* Navigation Menu
*/

.x-navigation {

    // Desktop Menu
    // ------------
    &.x--desktop {
        position: absolute;
        bottom: 5px;
        right: 20px;

        display: block;
        margin-top: 32px;
        font-size: 14px;
        font-weight: 300;
        white-space: nowrap;

        .menu-header,
        .menu-header ul,
        .menu-header ul li {
            display: inline;
        }
        .menu-header ul li:after {
            content: ', ';
        }
        .menu-header ul li:last-child:after {
            content: ' и ';
            margin-right: .1em;
        }
        a {
            color: $med;
            text-decoration: none;
        }

        // Search Form
        .x-search-form{
            display: inline-block;
            position: relative;
            top: -1px;

            input.field {
                margin: 0;
                padding: 3px 35px 3px 7px;
                outline: none;
                width: 168px;

                font-size: 13px;
                font-weight: 300;

                &:-webkit-input-placeholder,
                &:-moz-placeholder,
                &:-ms-input-placeholder {
                    color:#ccc;
                }

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button {
                    display: none;
                }
            }

            input.submit{
                position: absolute;
                top: 0;
                right: 4px;
                height: 24px;
                width: 30px;
                overflow: hidden;

                @include sprite;
                background-position: -128px center;
                border:none;
                cursor:pointer;
                text-indent:99px;
            }
        }
    }

    // Mobile Menu
    // ------------
    &.x--mobile {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 1000;

        display: none;
        width: 100%;
        max-height: 0;
        overflow: hidden;
        margin-top: 1px;

        background: #f8f8f8;
        border-bottom: solid 1px $light-gray;
        box-shadow: rgba($med, .5) 0 2px 5px;

        font-weight: 300;

        @include transform(translateZ(0));

        transition: max-height .15s;
        -webkit-transition: max-height .15s;

        -webkit-backface-visibility: hidden;


        &.x--active {
            max-height: 480px;

        }

        .menu-header {
            ul {
                margin: 0;
                list-style: none;

                li {
                    a {
                        display: block;
                        padding: $side-margin;

                        border-top: solid 1px $light;

                        font-size: $mobile-text;
                        text-decoration: none;
                        text-shadow: 0 -1px white;

                        &:before {
                            content: '›';
                            float: right;
                            font-size: $text;
                            line-height: 1;
                        }
                    }
                }
            }
        }

        .x-search-form {
            position: relative;
            padding: $margin $side-margin;

            input.field {
                width: 100%;
                padding: $margin;
                padding-right: 32px;
                background: white;
                font-weight: 300;
            }

            input.submit {
                position: absolute;
                top: $margin;
                right: $side-margin;
                height: 30px;
                width: 30px;
                overflow: hidden;
                outline: none;

                margin: 1px;
                padding: $margin*2;

                @include sprite;
                background-position: -128px center;
                border:none;
                cursor:pointer;
                text-indent:99px;
            }
        }
    }
}

.x-mobile-nav-toggle {
    display: none;
}