/*
* Navigation Menu
*/

.x-navigation {

    // Desktop Menu
    // ------------
    &.x--desktop {
        position: absolute;
        top: 0;
        right: 90px;
        margin-top: 32px;
        font-size: 14px;
        font-weight: 300;
        white-space: nowrap;

        .menu-header,
        .menu-header ul,
        .menu-header ul li {
            display: inline;
        }
        .menu-header ul li:after {
            content: ', ';
        }
        .menu-header ul li:last-child:after {
            content: ' и ';
            margin-right: .1em;
        }
        a {
            color: $med;
        }

        // Search Form
        .x-search-form{
            display: inline-block;
            position: relative;
            top: -1px;

            input.field {
                margin: 0;
                padding: 3px 35px 3px 7px;
                outline: none;
                width: 180px;

                font-size: 13px;
                font-weight: 300;

                &:-webkit-input-placeholder,
                &:-moz-placeholder,
                &:-ms-input-placeholder {
                    color:#ccc;
                }

                &::-webkit-search-decoration,
                &::-webkit-search-cancel-button {
                    display: none;
                }
            }

            input.submit{
                position: absolute;
                top: 0;
                right: 4px;
                height: 24px;
                width: 30px;
                overflow: hidden;

                @include sprite;
                background-position: -128px center;
                border:none;
                cursor:pointer;
                text-indent:99px;
            }
        }
    }

    // Mobile Menu
    // ------------
    &.x--mobile {
        display: none;
    }
}

.x-mobile-nav-toggle {
    display: none;
}