/****  Predefined translations ****/
*[data-lang="en"] {
    display: none !important;
}

html.translated-ltr {
    *[data-lang="ru"] {
        display: none !important;
    }
    *[data-lang="en"] {
        display: inline !important;
    }
}

/**** Translation Overlay ****/
.x-translate-overlay {
    padding: $margin*2 0;
    border-bottom:solid 1px $border;
    color: $med;

    h2 {
        clear:none;
        margin:0;
        font-size: 18pt;
        line-height: 1.3;
    }
    p {
        margin:0;
        padding-left: 24px;
        background: url(http://translate.googleapis.com/translate_static/img/loading.gif) no-repeat left center;
        color: $gray;
    }

    .x-floating-link {
        float: right;
        margin-left: $margin;

        a {
            display: block;
        }

        small {
            color: lighten($gray, 10%);
        }
    }
}



/** Google translate **/
#translate {
    margin-top: 10px;
}
#translation_bar a {
    margin-right:.25em;
}
#google_translate_element{
    line-height: 17px;
    height: 30px;
    opacity:.6;

    &:hover{
        opacity:1;
    }

    a.goog-te-menu-value{
        text-decoration:none !important;
    }

    #translate-widget &{
        margin-top:-1px;
    }
    #primary &{
        margin-top:8px;
    }
}